
<h2>Experience in Internal Audit and Risk Advisory</h2>

<table class="table table-bordered">


	<tr class="whitetr">
		<td>
			<img src="/assets/itc_logo.jpeg" alt="ITC" height="100" width="120">
		</td>
		<td>
			<p>Internal Audit of Lifestyle Retailing Branding Division of ITC Ltd. which included process reviews such Advertisement & Marketing, Sales Accounting, Receivables Monitoring etc.
Conducting audits of various Wills Lifestyle Stores and John Players CSA and Franchisees in India.</p>
		</td>
	</tr>

	<tr class="greytr">
		<td>
			<img src="/assets/cinepolis.png" alt="Cinepolis" height="100" width="120">
		</td>
		<td>
			<p>
Multinational Chain of Multiplexes – Developed Internal Audit Checklists and Formats to be followed for Internal Audits of multiplexes across all states in the country.
(We would be handling Internal Audit engagements for their multiplex in Jaipur which would be operating soon)
</p>
		</td>
	</tr>

<tr class="whitetr">
<td style="width: 120px; height: 100px;">
			<table style="width:100%;height:100%;">
				<tr>
			<img src="/assets/gravita.png" alt="gravita" height="100" width="120"><br><br></tr>

				<tr>
			<img src="/assets/ratan.png" alt="ratan" title="Ratan Textiles Pvt. Ltd." height="50" width="50">
			</table>

		</td>
		<td>
			<p>Internal Audit of Lifestyle Retailing Branding Division of ITC Ltd. which included process reviews such Advertisement & Marketing, Sales Accounting, Receivables Monitoring etc.
Conducting audits of various Wills Lifestyle Stores and John Players CSA and Franchisees in India.</p>
		</td>
	</tr>

</table>
