<div class="bb">
<h2>Associates and Infrastructure</h2>

<p>NMR has its head office at Jaipur with its two branches, one each in Jaipur and Delhi respectively. It has business associates across all major cities in Rajasthan.
The firm is having all requisite infrastructure facilities such as fully furnished office, computers, laptops, broadband services, printers etc. to perform the work in most efficient and effective manner.</p>

</div>
<div class="bb">
<h2>Details of Partners</h2>

<table class="table table-bordered table-hover whitetr" >
	<tr style="background-color: #F3F3F3;">
		<th>Name</th>
		<th>Qualification</th>
		<th>Membership Number</th>
		<th>Experience</th>
		<th>Contact Number</th>
	</tr>
	<tr>
		<td>R.L. Bansal</td>
		<td>FCA</td>
		<td>073618</td>
		<td>24 Years</td>
		<td>+91 9414071061</td>
	</tr>
	<tr>
		<td>Naveen Kumar Goyal</td>
		<td>FCA</td>
		<td>074623</td>
		<td>22 Years</td>
		<td>+91 9413166777</td>
	</tr>
	<tr>
		<td>Manish Mehta</td>
		<td>FCA</td>
		<td>077955</td>
		<td>13 Years</td>
		<td>+91 9829018557</td>
	</tr>
	<tr>
		<td>Doni Monhot</td>
		<td>FCA</td>
		<td>078632</td>
		<td>10 Years</td>
		<td>+91 9654907590</td>
	</tr>
	<tr>
		<td>Vishnu Dutt Gupta</td>
		<td>FCA</td>
		<td>400621</td>
		<td>10 Years</td>
		<td>+91 9829081800</td>
	</tr>
	<tr>
		<td>Apoorv Mathur</td>
		<td>ACA</td>
		<td>416571</td>
		<td>3 Years</td>
		<td>+91 8741083098</td>
	</tr>
	<tr>
		<td>Pankaj Kr. Gupta</td>
		<td>ACA</td>
		<td>415115</td>
		<td>2 Years</td>
		<td>+91 9413504820</td>
	</tr>
	<tr>
		<td>Vivek Garg</td>
		<td>ACA</td>
		<td>416753</td>
		<td>1 Years</td>
		<td>+91 9414969345</td>
	</tr>

</table>
</div>
<div class="bb">
<h2>Registration with Regulators</h2>


<table class="table table-bordered table-striped">
	<tr>
		<th>ICAI Registration Number</th>
		<td>004734C</td>
	</tr>
	<tr>
		<th>C&AG Empanelment Number</th>
		<td>CR4331</td>
	</tr>
	<tr>
		<th>RBI Unique Code</th>
		<td>292093</td>
	</tr>
	<tr>
		<th>Year of Establishment of Firm</th>
		<td>1989</td>
	</tr>
	<tr>
		<th>Constitution of Firm</th>
		<td>Partnership Firm</td>
	</tr>


</table>


</div>

<h2> Contact</h2>
<div class="row-fluid">
<div class="span6" >
<div class="bsa well well-small" id="dark-well" >

<!-- <div class="alert alert-info ">  -->
<h3 style="color:black;">Head Office</h3>
<!-- </div> -->
<!-- <br/> -->
<address>10, Dwarika Puri,<br> Jamna Lal Bajaj Marg,<br> C-Scheme,<br> Jaipur - 302001.<br/><br>
Tel. : 91-141-2361590<br/>
Fax : 91-141-2378840<br/>
E-mail : 	<%= mail_to "nmr.1989@hotmail.com" %>,
	<%= mail_to "chartermanish@hotmail.com"  %></address>

</div>
</div>

<div class="span6">
<div class="bsa well well-small" id="dark-well" >

<!-- <div class="alert alert-info ">  -->
<h3 style="color:black;">Branch Offices</h3>
<!-- </div> -->
<!-- <br/> -->
<address>301-A, Anukampa IInd,<br> Opp. Raymonds Showroom,<br> MI Road,<br> Jaipur - 302001</address>
<address>54/9, IInd Floor,<br> Old Rajinder Nagar,<br> Opp. G.D.Salwan Public School,<br> New Delhi – 110060</address>

</div>
</div>

</div>
