<h2> Our Clients </h2>

<table align="center" width="700px;" class="table-bordered table-striped" >

<tr>
	<td>
		<h4><a href="javascript:sizeTbl('block','ps1')">Banking Sector</a></h4>

<div  id=ps1 name=tbl style="overflow:hidden;display:none;text-align:center;">
	<ul>
		<li>Yes Bank</li>
		<li>Allahabad Bank</li>
		<li>Allahabad Bank</li>
		<li>Andhra Bank (Credit Card Division)</li>
		<li>Bank of Baroda</li>
		<li>Oriental Bank of Commerce</li>
		<li>Punjab National Bank</li>
		<li>State Bank of Bikaner & Jaipur</li>
		<li>State Bank of India</li>
		<li>State Bank of Patiala</li>
		<li>The Bank of Rajasthan Ltd.</li>
		<li>UCO Bank Ltd.</li>
		<li>Union Bank of India</li>
		<li>The Railway Employees Cooperative Bank Ltd.</li>
	</ul>
	

</div></td>
</tr>


<tr>
	<td>
		<h4><a href="javascript:sizeTbl('block','ps2')">Automotive Sector</a></h4>

<div  id=ps2 name=tbl style="overflow:hidden;display:none;text-align:center;">
	<ul>
		<li>BOSCH Limited</li>
		<li>Gravita India Limited</li>
		<li>RS Power Systems (UPS, Inverter, Servo Stabilizers)</li>
		<li>Andhra Bank (Credit Card Division)</li>
		<li>Inva Power Systems Private Limited.</li>
		<li>Madan Mohan Engineering Works </li>
		<li>MB Bearings </li>
		<li>Varshit Electricals Private Limited.</li>
	</ul>
	

</div></td>
</tr>

<tr>
	<td>
		<h4><a href="javascript:sizeTbl('block','ps3')">Entertainment & Hospitality Sector</a></h4>

<div  id=ps3 name=tbl style="overflow:hidden;display:none;text-align:center;">
	<ul>
		<li>Cinepolis India Pvt. Ltd.</li>
	</ul>
	

</div></td>
</tr>


<tr>
	<td>
		<h4><a href="javascript:sizeTbl('block','ps4')">FMCG Sector</a></h4>

<div  id=ps4 name=tbl style="overflow:hidden;display:none;text-align:center;">
	<ul>
		<li>ITC Ltd.</li>
		<li>VRS Foods Ltd (Ghee)</li>
		<li>Rajasthan State Ganganagar Sugar Mills Ltd. (Sugar & Liquar)</li>
		<li>Triveni Rice & Dal Mill (Rice & Pulses)</li>
		<li>Gaurav Agrotech India Ltd. (Solvent Extraction Plant)</li>
		<li>Triveni Solvents (Solvent)</li>
		<li>Mahima Dairy Foods Pvt. Ltd. (Dairy Products)</li>
		<li>Morarka Organic Foods Pvt. Ltd. (Organic Agriculture)</li>
		<li>Rajasthan State Cooperative Seed Growers Federation Limited (Tilamsangh)</li>
		<li>Kavisis Foods (Confectionery Items) </li>
		<li>Samrat Surgicals Ltd. (Surgical Items)</li>
		<li>J Aggarwal & Co. (Ayurvedic Medicines)</li>



	</ul>
	

</div></td>
</tr>

<tr>
	<td>
		<h4><a href="javascript:sizeTbl('block','ps5')">Service Sector</a></h4>

<div  id=ps5 name=tbl style="overflow:hidden;display:none;text-align:center;">
	<ul>
		<li>American Express India Private Limited</li>
		<li>Duet Hotels (India) Pvt. Ltd. (Four Point Sherton) Hotels</li>
		<li>Nexus Security Services Pvt. Ltd. (Security Service)</li>
		<li>Entellus Tours & Travels Pvt. Ltd. (Tours & Travels)</li>
		<li>Bajaria Ki Bhor (Daily News Paper)</li>
		<li>Accurate Advertising Consultants Pvt. Ltd. (Advertising)</li>
		<li>Jaipur Economic & Technical Services Pvt. Ltd. (Railways)</li>
		<li>Moneytech Leafin Pvt. Ltd. (Online Roadways Ticket Booking)</li>
		<li>Ethical Pharma Distributor (Consignee Agent)</li>
		<li>Regal Events (India) Pvt. Ltd. (Event Management)</li>
		<li>Rajasthan State Warehousing Corporation Ltd. (Warehousing &  Logistics)</li>
	</ul>
	

</div></td>
</tr>


<tr>
	<td>
		<h4><a href="javascript:sizeTbl('block','ps6')">Textile Sector</a></h4>


<div  id=ps6 name=tbl style="overflow:hidden;display:none;text-align:center;">

    <ul>
	<li>Rajasthan State Cooperative Spinning & Ginning Mills Federation Limited (SPINFED)</li>
	<li>Rajasthan State Spinning & Weaving Mills</li>
	<li>Ratan Textile Private Limited</li>
	</ul>


</div></td>
</tr>



<tr>
	<td>
		<h4><a href="javascript:sizeTbl('block','ps7')">Jewellery Sector</a></h4>


<div  id=ps7 name=tbl style="overflow:hidden;display:none;text-align:center;">

    <ul>
	<li>Gem Palace</li>
	<li>Mudrika - The Jewellers</li>
	<li>Gem Centre Overseas Pvt. Ltd.</li>
	<li>Gem Center</li>
	<li>Gem Stones Corporation </li>
	</ul>


</div></td>
</tr>


<tr>
	<td>
		<h4><a href="javascript:sizeTbl('block','ps8')">Housing & other NBFC’s Sector</a></h4>


<div  id=ps8 name=tbl style="overflow:hidden;display:none;text-align:center;">

    <ul>
	<li>Samrat Housing Finance Private Limited</li>
	<li>Rangoli Capital Limited</li>
	<li>Ranthambore Finance Private Limited</li>
	<li>Wellcome Finlease Ltd.</li>
	<li>Vedic Capital Service Pvt. Ltd.</li>
	<li>Santushti Investments Pvt. Ltd.</li>
	</ul>


</div></td>
</tr>



<tr>
	<td>
		<h4><a href="javascript:sizeTbl('block','ps9')">Pharma Sector</a></h4>


<div  id=ps9 name=tbl style="overflow:hidden;display:none;text-align:center;">

    <ul>
    	<li>Esther Pharmaceuticals Private Limited</li>
    	<li>Molekule India Private Limited</li>
	
	</ul>


</div></td>
</tr>


<tr>
	<td>
		<h4><a href="javascript:sizeTbl('block','ps10')">Mining Sector</a></h4>


<div  id=ps10 name=tbl style="overflow:hidden;display:none;text-align:center;">

    <ul>
    	<li>The Rajasthan State Mines & Minerals Ltd.</li>
    	<li>Rajasthan Sands & Clays Pvt. Ltd.</li>
    	<li>Dattatreya Mining (P) Ltd.</li>
    	<li>Maruti Granites & Marbles (P) Ltd.</li>
	
	</ul>


</div></td>
</tr>


<tr>
	<td>
		<h4><a href="javascript:sizeTbl('block','ps11')">Real Estate Sector</a></h4>


<div  id=ps11 name=tbl style="overflow:hidden;display:none;text-align:center;">

    <ul>
    	<li>Karishma Infratec Pvt. Ltd.</li>
		<li>Sangvine Saviour Real Estates Pvt. Ltd.</li>
		<li>Neelkanth Nirman</li>
		<li>Skyedge Buildhome Pvt. Ltd.</li>
		<li>Skyedge Realtors Pvt. Ltd.</li>
		<li>Sangvine Infrastructure Pvt. Ltd.</li>
		<li>Shivalik Colonizers Pvt. Ltd.</li>
	</ul>


</div></td>
</tr>


<tr>
	<td>
		<h4><a href="javascript:sizeTbl('block','ps12')">Retail Sector</a></h4>


<div  id=ps12 name=tbl style="overflow:hidden;display:none;text-align:center;">

    <ul>
    	<li>Mudrika - The Jewellers</li>
    	<li>The Gem Palace</li>
    	<li>Right Motors Pvt. Ltd.</li>
    	<li>Artistic Furnitures Pvt. Ltd.</li>
    	<li>Adinath Exports (Online Sales)</li>
    	<li>Antique Boutique</li>
    	<li>Airawat Arts</li>
    	<li>Ameravite Healthcare Pvt. Ltd.</li>
	
	</ul>


</div></td>
</tr>



<tr>
	<td>
		<h4><a href="javascript:sizeTbl('block','ps13')">Public Charitable/NGO/Trust/Societies</a></h4>


<div  id=ps13 name=tbl style="overflow:hidden;display:none;text-align:center;">

    <ul>
    	<li>M R Morarka GDS Rural Research Foundation</li>
    	<li>Vivekanand Sewa Sansthan</li>
    	<li>Kids Pride Shiksha Samitee</li>
    	<li>Akshar Society</li>
    	<li>Rajasthan Nursing Council</li>
    	<li>District Poverty Initiative Project</li>
    	<li>District Blindness Control Society</li>
    	<li>Integrated Population & Development Project</li>
    	<li>RSGSM Staff Welfare Fund & Group Gratuity Trust</li>
    	<li>I.E.T.E.</li>
    	<li>Jila Shiksharta Samitee</li>
		<li>Human Environmental & Research Society (HEAR)</li>
		<li>SC & ST Development Corporation Ltd.</li>	
	</ul>


</div></td>
</tr>


<tr>
	<td>
		<h4><a href="javascript:sizeTbl('block','ps14')">Project Financing Consultancy & Funding From Financial Institutions / Banks</a></h4>


<div  id=ps14 name=tbl style="overflow:hidden;display:none;text-align:center;">

    <ul>
    	<li>Gravita India Ltd.</li>
    	<li>Right Motors Pvt. Ltd.</li>
    	<li>State Bank of Saurashtra & JVVNL</li>
    	<li>RS Power Systems</li>
		<li>Inva Power Systems (P) Ltd.</li>
		<li>Shrashti Infraengineering (P) Ltd.</li>
		<li>Vision Trade Solutions India P. Ltd.</li>
		<li>Seatel Electricals P. Ltd.</li>
		<li>Abhishek Exports</li>
		<li>Gem Centre</li>
		<li>Gem Stones Corporation</li>
		<li>Maruti Granites & Marbles Pvt. Ltd.</li>
		<li>Khemka Granites & Marbles Pvt. Ltd.</li>
		<li>Krishna Agriculture & Dairy Products</li>
		<li>Om  Bricks</li>
		<li>St. Edmund’s School</li>
		<li>Quality Management Services</li>
		<li>Krishna Plastic Industry</li>
		<li>Colosaal Constructions</li>
		<li>Neerja International Inc</li>
		<li>Vishwakarma Adarsh Siksha Samittee</li>
		<li>Divija Infrastructure (P) Ltd.</li>
		<li>INVA Power Systems Pvt. Ltd.</li>
		<li>Ratna Industries</li>
		<li>Hotel Diana Palace</li>
		<li>Ramanand Industries</li>
		<li>RG Paver Blocks</li>
		<li>Anad Floor Mills</li>
		<li>Tiger Treat Resorts</li>
		<li>Anand Floor Mills</li>
		<li>Taj Paper Udyog</li> 

	
	</ul>


</div></td>
</tr>




</table>
<br/><br/><br/>


<script language="JavaScript" type="text/javascript">
<!--
function sizeTbl(h,id) {
  var tbl = document.getElementById(id);
  var cur = tbl.style.display;
  if(cur=='none')
  	tbl.style.display = h;
  else
  	tbl.style.display = 'none';
}
// -->
</script> 