<style type="text/css">
a
{
  color:#2B5E89;
}
</style>

<h2>Previous Experiences of Partners</h2>

<table>
<tr>
	 <td style="width:200;"><!--Table of partners -->
		<table width="200px;" class="table-bordered table-striped">
			<tr><th style="height:50px;"><div style="padding-top:15px;"><a href="javascript:sizeTbl('1')">Manish Mehta</a></div></th></tr>
			<tr><th style="height:50px;"><div style="padding-top:15px;"><a href="javascript:sizeTbl('2')">Naveen Kr. Goyal</a></div></th></tr>
			<tr><th style="height:50px;"><div style="padding-top:15px;"><a href="javascript:sizeTbl('3')">Apoorv Mathur</a></div></th></tr>
		</table>

	</td>

	<td><!-- Dynamic div content  -->
		<div id='1' style="overflow:hidden;display:'block';text-align:justify;border-left:1px solid #D6D6D6;margin-left:10px;">
			<p  style="margin-top:10px;margin-left:20px;">
				Our Partner <span style="color:#97231B"><strong>Manish Mehta</strong></span> has vast experience of Rajasthan Sales Tax and all other local taxes prevalent in the state. He has a rich experience in some of the multinational companies in streamlining their statutory aspects starting from their inception in the state till their day-today operations and liasoning with the authorities. Some of the multinational companies handled by him are:

			</p>
                    <div align="center">
                    <img height=125px width=125px style="padding-right:40px;" src="/assets/bosch.png">
                    <img height=125px width=125px style="padding-right:40px;" src="/assets/itc.png">
                    <img height=125px width=125px style="padding-right:40px;" src="/assets/cinepolis1.png">
                    <img height=125px width=125px style="padding-right:40px;" src="/assets/yes_bank.png">
                    </div>
		</div>

		<div class="well" id='2' style="overflow:hidden;display:none;text-align:justify;">
			<p  style="margin-top:10px;">
				Our Partner <span style="color:#97231B"><strong>Naveen Kr. Goyal</strong></span> has experience of all statutory taxation prevalent in the country and has expertise in Rajasthan Sales Tax.
				Some of his recommendations in Rajasthan Sales Tax have been accepted by Rajasthan Government in recent years and have incorporated the same in the Rajasthan VAT Act.<br>
				His rich experience of more than 20 years lays a foundation stone for the professional expertise of our firm in all the statutory matters in Rajasthan.

			</p>

		</div>


		<div class="well" id='3' style="overflow:hidden;display:none;text-align:justify;">
			<p  style="margin-top:10px; ">
				Our Partner Apoorv Mathur <span style="color:#97231B"><strong>Apoorv Mathur</strong></span> has vast experience of Risk Advisory Services. Before joining NMR & Co. his last stint was with Ernst & Young Pvt. Ltd. and handled various Internal Audit engagements. He has also worked in Sahni Natarajan & Bahl in Risk Advisory Services. Some of the companies for which he has worked during his professional career:
			</p>
                    <div align="center">
                    <img height=125px width=125px style="padding-right:40px;" src="/assets/ms.jpg">
                    <img height=125px width=125px style="padding-right:40px;" src="/assets/pepsico.jpg">
                    <img height=125px width=125px style="padding-right:40px;" src="/assets/honda.jpg">
                    <img height=125px width=125px style="padding-right:40px;" src="/assets/big_bazaar.png"><br><br>
                    <img height=125px width=125px style="padding-right:40px;" src="/assets/amw.png">
                    <img height=125px width=125px style="padding-right:40px;" src="/assets/dcm.png">
                    <img height=125px width=125px style="padding-right:40px;" src="/assets/genus.png">
                    <img height=125px width=125px style="padding-right:40px;" src="/assets/halonix.jpg"><br><br>
                    <img height=125px width=125px style="padding-right:40px;" src="/assets/sona.png">
                    <img height=125px width=125px style="padding-right:40px;" src="/assets/cf.png">
                    <img height=125px width=125px style="padding-right:40px;" src="/assets/gd.png">
                    <img height=125px width=125px style="padding-right:40px;" src="/assets/dia.png"><br>
                    </div>
		</div>



	</td>



</tr>

</table>


<script language="JavaScript" type="text/javascript">
<!--
function sizeTbl(id) {

  for(var i=1;i<=3;i++)
  {
  	var tbl = document.getElementById(i);

  	if(i!=id)
  		tbl.style.display="none";
  	else
  		tbl.style.display="block";
  }
}
// -->
</script>
<br>
