

<h2>Areas of Professional Services</h2> 


<table class="table table-bordered table-striped">
<tr><td>
<h4><a href="javascript:sizeTbl('block','ps1')">Tax Advisory</a></h4>

<div  id=ps1 name=tbl style="overflow:hidden;display:none">

	<p style="text-align:justify;">Consultancy in matters of Sales Tax, Income Tax, Service Tax, Excise and customs. 
Besides, NMR has vast experience and good relationship with the Rajasthan Finance Department and we have contributed in many Sales Tax amendments in the state.
We provide various services related to this field which are ranging from Getting the Registration till Final Assessment Procedures.</p>
	<a href="javascript:sizeTbl('none','ps1')">Hide</a>
</div></td>
</tr>

<tr><td>
<h4><a href="javascript:sizeTbl('block','ps2')">Internal Audit</a></h4>

<div id=ps2 name=tbl style="overflow:hidden;display:none">

	<p style="text-align:justify;">Independent assurance that an organization’s risk management, governance and internal control processes are operating effectively. We look beyond financial risks and statements to consider wider issues such as organization’s reputation, growth, its impact on the environment.</p>
	<a href="javascript:sizeTbl('none','ps2')">Hide</a>
</div>
</td></tr>

<tr><td>
<h4><a href="javascript:sizeTbl('block','ps3')">Statutory Audits</a></h4>

<div id=ps3 name=tbl style="overflow:hidden;display:none">

	<p style="text-align:justify;">Attestation services to determine whether an organization is providing a fair and accurate representation of its financial position by examining information such as bank balances, bookkeeping records and financial transactions. The firm adopts uniform audit methodologies as per the professional guidelines for Statutory Audit issued by the Institute of Chartered Accountants of India. </p>
	<a href="javascript:sizeTbl('none','ps3')">Hide</a>
</div>
</td></tr>

<tr><td>
<h4><a href="javascript:sizeTbl('block','ps4')">Management Consultancy</a></h4>

<div  id=ps4 name=tbl style="overflow:hidden;display:none">

	<p style="text-align:justify;">Management consultancy which includes Business Process Reengineering, SOP mapping and designing, designing of accounting system, risk assessment and designing internal audit framework, budgetary control systems, designing schedule of authority etc. </p>
	<a href="javascript:sizeTbl('none','ps4')">Hide</a>
</div>
</td></tr>

<tr><td>
<h4><a href="javascript:sizeTbl('block','ps5')">System Audits</a></h4>

<div  id=ps5 name=tbl style="overflow:hidden;display:none">

	<p style="text-align:justify;">Consultancy and assurance in system requirement mapping, planning and design. Examination of management controls within an information technology infrastructure. These reviews are performed in conjunction with a financial statement audit, internal audit or other form of attestation engagement. </p>
	<a href="javascript:sizeTbl('none','ps5')">Hide</a>
</div>
</td></tr>

<tr><td>
<h4><a href="javascript:sizeTbl('block','ps6')">Project Consultancy and Assistance in Fund Raising</a></h4>

<div  id=ps6 name=tbl style="overflow:hidden;display:none">

	<p style="text-align:justify;">All types of assistance for project management including funding from financial institutions and banks. </p>
	<a href="javascript:sizeTbl('none','ps6')">Hide</a>
</div>
</td></tr>


<tr><td>
<h4><a href="javascript:sizeTbl('block','ps7')">Corporate Law and Secretarial Work</a></h4>

<div  id=ps7 name=tbl style="overflow:hidden;display:none">

	<p style="text-align:justify;">Handling diverse client requirements for professional opinions, incorporation of companies with the registrar of companies, drafting of memorandum of association etc. Further, NMR conducts detailed secretarial compliance reviews for its clients.  </p>
	<a href="javascript:sizeTbl('none','ps7')">Hide</a>
</div>
</td></tr>


<tr><td>
<h4><a href="javascript:sizeTbl('block','ps8')">Management of Public Issue</a></h4>

<div  id=ps8 name=tbl style="overflow:hidden;display:none">

	<p style="text-align:justify;">Management of securities of the corporate sector offered to the public on a regular basis, and existing shareholders on a right basis.
  </p>
	<a href="javascript:sizeTbl('none','ps8')">Hide</a>
</div>
</td></tr>

<tr><td style="text-align:center;">
<h4><a href="javascript:sizeTbl('block','ps9')">Survey and Investigation</a></h4>

<div  id=ps9 name=tbl style="overflow:hidden;display:none">

	<p style="text-align:center;">Assessment of claims for insurance companies and other entities in case of damage, fire, theft, loss in transit etc. 
  </p>
	<a href="javascript:sizeTbl('none','ps9')">Hide</a>
</div>
</td></tr>

<tr><td>
<h4><a href="javascript:sizeTbl('block','ps10')">Accounting</a></h4>

<div  id=ps10 name=tbl style="overflow:hidden;display:none">

	<p style="text-align:justify;">Consultancy in accounting matters as well as preparation and finalization of financials and stock accounts by qualified CA and accounting technicians according to Accounting Standards, IND AS, IFRS.<br> 
Periodical Financial reporting on trial balance, profit/ loss, debtors, creditors, budgeting, cash/ fund flow statements, BRS, ratio analysis, reporting of weakness in internal control systems etc. 
  </p>
	<!-- <a href="javascript:sizeTbl('none','ps10')">Hide</a> -->
</div>
</td></tr>

<tr><td>
<h4><a href="javascript:sizeTbl('block','ps11')">Back Office Support </a></h4>

<div   id=ps11 name=tbl style="overflow:hidden;display:none">

	<p style="text-align:justify;">
		Handling grass root level execution of vast range of tax requirements, covering diverse statutes (preparation, finalization and filling of all returns relevant to different departments like income tax, VAT, Service Tax, Excise, TDS, PF, ESI, Labor & Factories Act,  
  </p>
	<!-- <a href="javascript:sizeTbl('none','ps11')">Hide</a> -->
</div>
</td></tr>

<tr><td>
<h4><a href="javascript:sizeTbl('block','ps12')">Preparation of Standard Operating Procedures (SOP) </a></h4>

<div   id=ps12 name=tbl style="overflow:hidden;display:none">

	<p style="text-align:justify;">
		Preparation of Standard Operating Procedures and Policies which also includes Delegation of Authorities, various operational formats, Key Responsibility Areas, Key Performance Indicators, MIS Reports etc.  
  </p>
	<!-- <a href="javascript:sizeTbl('none','ps12')">Hide</a> -->
</div>
</td></tr>








<script language="JavaScript" type="text/javascript">
<!--
function sizeTbl(h,id) {
  var tbl = document.getElementById(id);
  var cur = tbl.style.display;
  if(cur=='none')
  	tbl.style.display = h;
  else
  	tbl.style.display = 'none';
}
// -->
</script> 
<br>

 
