<style type="text/css">
th
{
	height:75px;
	width: 700px;
}
</style>
<h2> Type of Clients</h2>
<div align="center" ><img height="700px" width="500px" src="assets/oc.png"></div>
<h4>The types of clients that we cater to are briefly listed below: </h4>

<br/><br/>

<table align="center" width="400px;" class="table-bordered table-striped">
	<tr>
		<th >Public Sector Undertakings</th>
	</tr>
	<tr>
		<th>Private Companies</th>
	</tr>
	<tr>
		<th>Banks</th>
	</tr>
	<tr>
		<th>Trust</th>
	</tr>
	<tr>
		<th>Societies</th>
	</tr>
	<tr>
		<th>Hospitals</th>
	</tr>
	<tr>
		<th>Partnership Firms</th>
	</tr>
	<tr>
		<th>Proprietorship Concerns</th>
	</tr>
</table>
