/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
  @import "bootswatch/spacelab/variables";

 @import "bootstrap";

 body
 {
     // padding-top: 60px;
     // margin-top: 50px;
     margin-left: 50px;
     margin-right: 50px;
     background-color: #ffffff;
     margin-bottom: 0px;
 }

/*@import "bootstrap-responsive";*/

@import "bootswatch/spacelab/bootswatch";


.whitetr
{
	background-color: white;
}

.greytr
{
	background-color: rgb(249,249,249);
}
#dark-well
{
    background-color: #D6D6D6;
}
.bb
{
    border-bottom: 1px solid #D6D6D6;
    padding-bottom: 20px;
    margin-bottom: 20px;
}
